name: Laravel CI

on: [push, pull_request]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: dom, curl, libxml, mbstring, zip, pdo, sqlite, pdo_sqlite # Dodajemo sqlite podršku
      - name: Install Dependencies
        run: composer install --prefer-dist

      # OVE DVE LINIJE SU KLJUČNE:
      - name: Prepare Environment
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run Pint (Check style)
        run: ./vendor/bin/pint --test

      - name: Execute tests
        # OVIM GOVORIMO GITHUB-U DA KORISTI PRIVREMENU BAZU U MEMORIJI
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
        run: php artisan test
